{% extends "template.html" %}
{% block content %}
<body style="background-image: url(/back.jpg);">
<!-- <div class="jumbotron"> -->
    <div class="page-header" style=" background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(20,35,79,0.737114914325105) 100%); ">
            <img src="logo.png" style="max-width: 5%; height: auto;">
            <h1 class="text-left">Giraffe <small>01101110 01110101 01101100 01101100</small></h1>
            <p class="lead" style="color: black;">Web-app para procesar y mostrar datos oficiales de forma digerible e imaginable para todo público.</p>
            <hr class="my-4">
            <p style="color: black; font-size: 18px;">
                Mediante esta Web-app nos adentraremos a explorar nuestro planeta mediante la información proporcionada de los satélites 
                por ejemplo velocidad, altitud, entre otros datos, con la finalidad de presentarlos al usuario de una forma más sencilla 
                con nuestra interfáz intuitiva y dinámica.
            </p>
    </div>
<!-- </div> -->
</body>
{% endblock %}